*.swp
*.Po
config.log
autom4te.cache/*
*.o
*~
src/netperf
src/netserver

Makefile
config.h
config.status
doc/Makefile
doc/examples/Makefile
src/Makefile
src/missing/Makefile
src/missing/m4/Makefile

Makefile.in
aclocal.m4
doc/Makefile.in
doc/examples/Makefile.in
src/Makefile.in
src/missing/Makefile.in
src/missing/m4/Makefile.in
